header ul{
    margin-left: 500px;
}

header{
    width: 1300px;
}

.col div{
    border-radius: 20px; 
}


img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer .row {
    
    color: white;
    padding: 40px;
 

}

.bg-light {
    background-color: #358835!important;
}




